In [2]:
import pandas as pd

In [4]:
df = pd.read_excel("data/nycdcp-mn-bike-counts-2005-2015.xlsx")

In [6]:
df

,LocationID,LocationType,TypeOfTime,Location,Location_Lat,Location_Long,Year,TotalUsers,NonCyc_OtherUser,CyclistVolume,...,FemaleCyc_Total,MaleCyc_Total,Female_Cyc_Helmet,Male_Cyc_Helmet,Cycl_Helmet_all,Cyc_Under16,Citibike_Male,Citibike_female,Citibike_All,Non_citibikeCyc
0,1,On-Street,Weekday,Second Avenue at E7 St.,40.727963,-73.988133,2005,1061,34,1027,...,193,834,42,154,196,36,0.0,0.0,0,1027
1,1,On-Street,Weekday,Second Avenue at E7 St.,40.727963,-73.988133,2006,1126,25,1101,...,233,868,94,207,301,27,0.0,0.0,0,1101
2,1,On-Street,Weekday,Second Avenue at E7 St.,40.727963,-73.988133,2007,1150,42,1109,...,265,844,102,263,365,37,0.0,0.0,0,1109
3,1,On-Street,Weekday,Second Avenue at E7 St.,40.727963,-73.988133,2008,1511,31,1465,...,344,1121,143,286,429,43,0.0,0.0,0,1465
4,1,On-Street,Weekday,Second Avenue at E7 St.,40.727963,-73.988133,2009,1540,44,1496,...,348,1148,170,401,571,5,0.0,0.0,0,1496
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,10,On-Street,Weekday,Fort Washington at W173 St. (NB +SB),40.845373,-73.940536,2011,542,6,536,...,61,475,52,271,323,0,0.0,0.0,0,536
104,10,On-Street,Weekday,Fort Washington at W173 St. (NB +SB),40.845373,-73.940536,2012,601,30,571,...,76,495,66,289,355,8,0.0,0.0,0,571
105,10,On-Street,Weekday,Fort Washington at W173 St. (NB +SB),40.845373,-73.940536,2013,545,7,538,...,67,471,52,341,393,1,NaN,NaN,0,538
106,10,On-Street,Weekday,Fort Washington at W173 St. (NB +SB),40.845373,-73.940536,2014,576,5,571,...,80,491,52,303,355,2,NaN,NaN,0,571
107,10,On-Street,Weekday,Fort Washington at W173 St. (NB +SB),40.845373,-73.940536,2015,666,12,654,...,77,577,49,390,439,0,NaN,NaN,0,654